body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 30px;
    margin-left: 575px;
    margin-top: 50px;
    color: #1abc9c;;
  }
  form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    margin: 100px 0px 20px 500px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:#16a085;
  }
  
  input[type="email"],
  input[type="password"] {
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #16a085;
  }
  